// Your custom variables should be here
// $bootstrap-variable: value;

// Import main Bootstrap styles
@import "~bootstrap/scss/bootstrap";
@import "material-icons";

.add-form {
    padding-top: 70px;
}
.table {
    padding-top: 70px;
}
.file-loader {
    padding-top: 50px;
}